[submodule "Build-ML-Pipeline_for_Short-Term_Rental_Prices"]
	path = Build-ML-Pipeline_for_Short-Term_Rental_Prices
	url = https://github.com/krillavilla/Build-ML-Pipeline_for_Short-Term_Rental_Prices.git
[submodule "Deploying_MLmodel_CloudApp_using_FastAPI"]
	path = Deploying_MLmodel_CloudApp_using_FastAPI
	url = https://github.com/krillavilla/Deploying_MLmodel_CloudApp_using_FastAPI.git
